<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
    <main>
        <form id="tokenForm">
            <h2>
                Your Web Form
            </h2>
            <label for="username">To receive a token, please enter your username: 
                <input type="text" name="username" id="username">
            </label>

            <div id="tokenDisplay"></div>
            
            <input type="submit" value="Submit" id="submit">
        
        </form>
    </main>

    <script src="../public/js/index.js"></script>
    
</body>
</html>